@font-face {
     font-family: Manrope;
    src: url("../src/assets/Font/Manrope-VariableFont.ttf") format("truetype");
}
 @font-face {
    font-family: Anton;
    src: url("../src/assets/Font/Anton-Regular.ttf") format("truetype");
}

@import "tailwindcss";

@theme{
    --font-Manrope: 'Manrope', "sans-serif";
    --font-Anton: 'Anton',"sans-serif";
}